<div ng-controller="PropertyController">
    <select ng-model="property"
            ng-change="propertyChange()"
            ng-options="item.localName for item in classInfo.properties">
    </select>
    <select ng-if="operators" ng-model="$parent.operator"
            ng-change="operatorChange()"
            ng-options="item.name for item in operators">
    </select>
    <input ng-if="isInput()">
    <div ng-if="!isInput()">
        <div ng-include="'semanticEngine/condition/class.html'">
        </div>
    </div>
    <div class="box-footer">
        <div class="text-right">
            <button class="btn btn-danger" ng-click="removeProperty($index)">
                Remove property
            </button>
        </div>
    </div>
</div>