<div class="panel panel-default bootstrap-panel">
        <div class="panel-body">
                <div class="row">
                                <div class="col-md-6">
                                                <label>Property</label>
                                                <select ng-model="property" ng-change="updateOperators()" ng-options="property as property.localName for property in properties track by property.uri"
                                                        aria-hidden="true" class="form-control select2 select2-hidden-accessible" style="width: 100%;">
                                                        
                                                                    </select>
                                        </div>
                        <div class="col-md-6" ng-show="property">
                                        {{property.uri}}
                                <label>Operator</label>
                                <select ng-model="view" aria-hidden="true" class="form-control select2 select2-hidden-accessible" style="width: 100%;">
                                                <option ng-repeat="operator in operators" value="{{operator.url}}">{{operator.name}}</option>
                                            </select>
                        </div>
                        <div class="col-md-12">
                                <div ng-include="view"></div>

                        </div>
                </div>
        </div>
</div>