<div ng-controller="ClassController">
    <div class="box-header with-border">
        <h3 class="box-title">Component</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group" ng-repeat="propertyCondition in propertyConditions">
                <div class="col-md-12" ng-include = "'scripts/components/semanticEngine/property/property.html'"></div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-default">Cancel</button>
            <button type="button" class="btn btn-success pull-right" ng-click="addPropertyCondition()">Add property</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
