<nav class="" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation="" class="nav metismenu sidebar-menu" id="side-menu" ng-switch="isAuthenticated()">
            <li class="active" ui-sref-active="active">
                <a ui-sref="home">
                    <span class="glyphicon glyphicon-home"></span>
                    <span translate="global.menu.home">Home</span>
                </a>
            </li>
            <li class="active" ui-sref-active="active">
                <a ui-sref="negotiation">
                    <span class="glyphicon glyphicon-home"></span>
                    <span translate="global.menu.negotiation">Negotiations</span>
                </a>
            </li>
            <!--<li class="active" ui-sref-active="active">-->
                <!--<a ui-sref="engine">-->
                    <!--<span class="glyphicon glyphicon-home"></span>-->
                    <!--<span translate="global.menu.home">Home</span>-->
                <!--</a>-->
            <!--</li>-->
            <li ui-sref-active="active" ng-switch-when="true">
                <a ui-sref="project"><span class="fa fa-files-o"></span>
                    &#xA0;<span translate="global.menu.projects">Projects</span>
                </a>
            </li>
            <li class="header">
                Project
            </li>
            <li ui-sref-active="active" ng-switch-when="true" class="dropdown pointer" has-authority="ROLE_ADMIN">
                <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <span>
                                    <span class="glyphicon glyphicon-th-list"></span>
                                    <span class="hidden-tablet" translate="global.menu.entities.main">
                                        Entities
                                    </span>
                                    <b class="caret"></b>
                                </span>
                </a>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active"><a ui-sref="credentials"><span
                        class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span translate="global.menu.entities.credentials">credentials</span></a></li>
                    <!-- JHipster will add entities to the menu here -->
                </ul>
            </li>
        </ul>

    </div>
</nav>
